@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

body {
    background-color:#242424;
    color: whitesmoke;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    text-align: center;
}

footer {
    color: whitesmoke;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    text-align: center;
    padding-top: 40px;
}

a:visited { 
    text-decoration: none;
    color: whitesmoke; 
}